$c-alice-blue:#E5F4FE;
$c-beau-blue: #bfd2ec;
$c-black:#000000;
$c-platinum: #E9E9E9;
$c-gainsboro: #DDDDDD;
$c-dark : #1d201f;
$c-columbia-blue: #C8E5FC;
$c-gray:#8E908F;
$c-han-purple: #6200ee;
$c-silver: #c7c7c7;
$c-sky-blue:#90CBF9;
$c-tufts-blue: #2196f3;
$c-white: #ffffff;
$c-biscay: #163062;
