.mwb-zgf__setting--table {
    width: 100%;
    
    tr {
        @extend %mwb-row;
        margin: 0 0 20px 0;
    }

    th {
        flex: 0 0 100%;
        margin: 0 20px 0 0;
        max-width: calc(25% - 20px);
        text-align: left;
        @include media(mwb-tablet) {
            max-width: 100%;
            margin-bottom: 10px;
        }
   
    }


    td {
        flex: 0 0 100%;
        max-width: 75%;
        @include media(mwb-tablet) {
            max-width: 100%;
        }
    }
}


.mwb_zgf_submit_setting {
    @extend %cta;
}