table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
}

table.dataTable thead th, table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

table.dataTable thead th:active, table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th, table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

table.dataTable tbody tr {
  background-color: #ffffff;
}

table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 8px 10px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

table.dataTable.row-border tbody tr:first-child th, table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th, table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr th:first-child, table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

table.dataTable.order-column tbody tr > .sorting_1, table.dataTable.order-column tbody tr > .sorting_2, table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1, table.dataTable.display tbody tr > .sorting_2, table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}

table.dataTable.order-column tbody tr.selected > .sorting_1, table.dataTable.order-column tbody tr.selected > .sorting_2, table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1, table.dataTable.display tbody tr.selected > .sorting_2, table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th, table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable th.dt-left, table.dataTable td.dt-left {
  text-align: left;
}

table.dataTable th.dt-center, table.dataTable td.dt-center, table.dataTable td.dataTables_empty {
  text-align: center;
}

table.dataTable th.dt-right, table.dataTable td.dt-right {
  text-align: right;
}

table.dataTable th.dt-justify, table.dataTable td.dt-justify {
  text-align: justify;
}

table.dataTable th.dt-nowrap, table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

table.dataTable thead th.dt-head-left, table.dataTable thead td.dt-head-left, table.dataTable tfoot th.dt-head-left, table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

table.dataTable thead th.dt-head-center, table.dataTable thead td.dt-head-center, table.dataTable tfoot th.dt-head-center, table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

table.dataTable thead th.dt-head-right, table.dataTable thead td.dt-head-right, table.dataTable tfoot th.dt-head-right, table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

table.dataTable thead th.dt-head-justify, table.dataTable thead td.dt-head-justify, table.dataTable tfoot th.dt-head-justify, table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

table.dataTable thead th.dt-head-nowrap, table.dataTable thead td.dt-head-nowrap, table.dataTable tfoot th.dt-head-nowrap, table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

table.dataTable tbody th.dt-body-left, table.dataTable tbody td.dt-body-left {
  text-align: left;
}

table.dataTable tbody th.dt-body-center, table.dataTable tbody td.dt-body-center {
  text-align: center;
}

table.dataTable tbody th.dt-body-right, table.dataTable tbody td.dt-body-right {
  text-align: right;
}

table.dataTable tbody th.dt-body-justify, table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap, table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable, table.dataTable th, table.dataTable td {
  box-sizing: content-box;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
  background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
  background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
  color: #333;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable, .dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}

/*==========================================================
=            Typography Variable and Declaration            =
============================================================*/
@font-face {
  font-family: 'NunitoSans-ExtraBold';
  src: url("../fonts/nunito-sans/NunitoSans-ExtraBold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-Bold';
  src: url("../fonts/nunito-sans/NunitoSans-Bold.ttf");
  font-style: bold;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: url("../fonts/nunito-sans/NunitoSans-Regular.ttf");
  font-style: normal;
  font-display: swap;
}

/*----------  Font Family Variable  ----------*/
/*----------  Font Size Variable  ----------*/
/*=====  End of Typography Variable and Declaration  ======*/
.mwb-btn, .mwb_zgf_submit_setting {
  background-color: #2196f3;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "NunitoSans-ExtraBold";
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  min-height: 48px;
  margin: 10px 0;
  min-width: 150px;
  padding: 14px 16px;
  transition: all 0.3s linear;
  text-align: center;
}

.mwb-btn:hover, .mwb_zgf_submit_setting:hover {
  background: #000000;
  color: #ffffff;
}

.mwb-zgf__instruction-icon {
  background: #2196f3;
  border-radius: 50%;
  cursor: pointer;
  height: 25px;
  position: absolute;
  right: 5px;
  top: 10px;
  transition: all 0.3s linear;
  width: 25px;
}

.mwb-zgf__instruction-icon .mwb-zgf__instruction-open-icon {
  width: 15px;
  height: 4px;
  background: #ffffff;
  display: inline-block;
  margin: 0px 0 3px 5px;
  border-radius: 4px;
}

.mwb-zgf__instruction-icon .mwb-zgf__instruction-close-icon {
  background: #ffffff;
  border-radius: 4px;
  display: inline-block;
  height: 4px;
  left: 5px;
  position: absolute;
  top: 10px;
  transform: rotate(90deg);
  width: 15px;
  z-index: 99;
}

.icon-rotation {
  transform: rotate(45deg);
}

.mwb-zgf__newfeed a, .mwb-logs__settings-list-item a {
  border-radius: 4px;
  border: 1px solid #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  max-width: 150px;
  padding: 8px 25px;
  text-align: center;
  text-transform: capitalize;
  transition: all 0.3s linear;
  width: 100%;
}

.mwb-title, .mwb-section__heading {
  font-size: 22px;
  font-family: "NunitoSans-Bold";
  color: #1d201f;
  line-height: 34px;
  font-weight: 700;
  letter-spacing: 0.3px;
}

.mwb-zgf__form--group, .mwb-zgf__logo-wrap, .mwb-zgf__conn-row, .mwb-zgf__unauthorized--table tr, .mwb-zgf__feed-row, .mwb-feed-status__wrap, .form-field-row, .mwb-form-filter-row .and-condition-filter, .mwb-zgf__logs-table-wrap .bottom, .mwb-zgf__setting--table tr {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

/*==================================
  =          GLOBAL CSS            =
====================================*/
* {
  box-sizing: border-box;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main {
  color: #1d201f;
  font-family: 'NunitoSans-Regular';
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main h1, body.forms_page_mwb_zoho_gf .mwb-zgf-main h2, body.forms_page_mwb_zoho_gf .mwb-zgf-main h3, body.forms_page_mwb_zoho_gf .mwb-zgf-main h4, body.forms_page_mwb_zoho_gf .mwb-zgf-main h5 {
  margin: 0;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main a {
  text-decoration: none;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main a:hover, body.forms_page_mwb_zoho_gf .mwb-zgf-main a:active, body.forms_page_mwb_zoho_gf .mwb-zgf-main a:focus {
  box-shadow: none;
  color: none;
  outline: none;
  text-decoration: none;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main p {
  font-size: 16px;
  margin: 0;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main img {
  display: block;
  height: auto;
  max-width: 100%;
}

body.post-type-mwb_zoho_feeds img {
  display: block;
  height: auto;
  max-width: 100%;
}

/*===================================
  =          GLOBAL CSS END         =
====================================*/
.mwb-zgf-header {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 30px 10px 10px 0;
  padding: 25px 20px;
}

.mwb-zgf-header .mwb-zgf-header__title {
  color: #2196f3;
  font-family: ff-nunitosans-bold;
  font-size: 20px;
}

.mwb-zgf-header .mwb-wfw-version {
  color: #2196f3;
  font-family: ff-nunitosans-bold;
  font-size: 14px;
}

/*===================================
  =         NAVBAR CSS START        =
====================================*/
.mwb-zgf-navbar {
  background: #ffffff;
  border-radius: 8px 8px 0 0;
  margin: 0 10px 0 0px;
  padding: 20px;
}

.mwb-zgf-navbar .mwb-zgf-nav-tabs {
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mwb-zgf-navbar .mwb-zgf-nav-item {
  margin: 10px 0;
  position: relative;
}

.mwb-zgf-navbar .mwb-zgf-nav-link {
  background: transparent;
  border: none;
  color: #1d201f;
  display: inline-block;
  float: none;
  font-size: 14px;
  margin: 0;
  padding: 0 25px 15px 0;
  transition: all 0.3s linear;
}

.mwb-zgf-navbar .mwb-zgf-nav-link.nav-tab-active::after {
  background: #2196f3;
  border-radius: 2px;
  bottom: -12px;
  content: '';
  height: 4px;
  left: 0;
  position: absolute;
  right: 25px;
}

.mwb-zgf-navbar .mwb-zgf-nav-link:hover {
  color: #2196f3;
}

/*===================================
  =         NAVBAR CSS END          =
====================================*/
/*===================================
  =         FORM CSS START          =
====================================*/
body.forms_page_mwb_zoho_gf .mwb-zgf-main label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

body.post-type-mwb_zoho_feeds label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #1d201f;
}

.mwb-feeds__header-link {
  color: #1d201f;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.mwb-feeds__header-link:hover {
  color: #1d201f;
}

.mwb-zgf__form--group {
  margin-bottom: 20px;
}

.mwb-zgf__form--label {
  flex: 0 0 100%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .mwb-zgf__form--label {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.mwb-zgf__form--field {
  flex: 0 0 100%;
  max-width: 75%;
}

@media (max-width: 767px) {
  .mwb-zgf__form--field {
    max-width: 100%;
  }
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="text"],
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="password"],
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="email"],
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="url"],
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="number"],
body.forms_page_mwb_zoho_gf .mwb-zgf-main textarea,
body.forms_page_mwb_zoho_gf .mwb-zgf-main select {
  border-color: #8E908F !important;
  max-width: 300px;
  padding: 10px 15px !important;
  width: 100%;
}

body.post-type-mwb_zoho_feeds input[type="text"],
body.post-type-mwb_zoho_feeds input[type="password"],
body.post-type-mwb_zoho_feeds input[type="email"],
body.post-type-mwb_zoho_feeds input[type="url"],
body.post-type-mwb_zoho_feeds input[type="number"],
body.post-type-mwb_zoho_feeds textarea,
body.post-type-mwb_zoho_feeds select {
  border-color: #8E908F !important;
  max-width: 300px;
  padding: 10px 15px !important;
  width: 100%;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="text"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="password"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="url"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="email"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="checkbox"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="number"]:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main textarea:focus,
body.forms_page_mwb_zoho_gf .mwb-zgf-main select:focus {
  border-color: #2196f3 !important;
  box-shadow: 0 0 1px #2196f3 !important;
  color: #1d201f;
}

body.post-type-mwb_zoho_feeds input[type="text"]:focus,
body.post-type-mwb_zoho_feeds input[type="password"]:focus,
body.post-type-mwb_zoho_feeds input[type="email"]:focus,
body.post-type-mwb_zoho_feeds input[type="url"]:focus,
body.post-type-mwb_zoho_feeds input[type="number"]:focus,
body.post-type-mwb_zoho_feeds textarea:focus,
body.post-type-mwb_zoho_feeds select:focus {
  border-color: #2196f3 !important;
  box-shadow: 0 0 1px #2196f3 !important;
  color: #1d201f;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type="submit"]:focus {
  border: none;
  outline: none;
}

body.post-type-mwb_zoho_feeds input[type="submit"]:focus {
  border: none;
  outline: none;
}

.mwb-switch {
  background: #E9E9E9;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 14px;
  position: relative;
  width: 34px;
}

.mwb-switch__bg {
  background: #C8E5FC;
}

.mwb-switch-checkbox--move {
  background: #2196f3 !important;
  border: 1px solid #2196f3 !important;
  transform: translateX(88%);
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type=checkbox]:checked::before {
  content: none;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type=checkbox] {
  background: #DDDDDD;
  border-radius: 50%;
  border: 1px solid #DDDDDD;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 2px 2px 0px rgba(0, 0, 0, 0.3), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 20px;
  left: -1px;
  position: absolute;
  top: 0;
  transition: all 0.1s linear;
  width: 20px;
  z-index: 1;
}

body.forms_page_mwb_zoho_gf .mwb-zgf-main input[type=checkbox]:focus {
  border: none;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 2px 2px 0px rgba(0, 0, 0, 0.6), 0 1px 5px 0 rgba(0, 0, 0, 0.2) !important;
  outline: none;
}

.mwb-switch__checkbox--move {
  background: #2196f3 !important;
  border: 1px solid #2196f3 !important;
  transform: translateX(88%);
}

/*===================================
  =         FORM CSS END          =
====================================*/
.mwb_zgf__account-wrap,
.mwb-zgf__feedlist-wrap,
.mwb-zgf__logs-wrap {
  background: #ffffff;
  border-radius: 0 0 8px 8px;
  margin: 0 10px 0 0;
  padding: 20px;
}

.mwb-zgf__logo-wrap {
  margin-bottom: 20px;
  position: relative;
}

.mwb-zgf__logo-wrap .mwb-zgf__logo-zoho {
  width: 150px;
  margin-right: 10px;
}

.mwb-zgf__logo-wrap .mwb-zgf__logo-gravity {
  width: 60px;
  margin-right: 10px;
}

/*==================================
 =       AUTHORIZED PAGE CSS       =
 ===================================*/
.mwb_zgf__account-wrap .is_hidden {
  display: none;
}

.mwb-zgf__conn-row {
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 16px rgba(63, 71, 86, 0.1);
  margin-bottom: 20px;
  padding: 20px 15px;
}

.mwb-zgf__left-col {
  flex: 0 0 100%;
  max-width: 70%;
}

@media (max-width: 767px) {
  .mwb-zgf__left-col {
    max-width: 100%;
  }
}

.mwb-zgf-token-notice__wrap {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.mwb-zgf-token-notice__wrap p:first-child {
  margin-right: 20px !important;
}

.mwb-zgf-token-notice__wrap img {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.mwb-zgf__right-col {
  flex: 0 0 100%;
  max-width: 30%;
  text-align: right;
}

@media (max-width: 767px) {
  .mwb-zgf__right-col {
    max-width: 100%;
    text-align: left;
  }
}

.mwb-dashboard__about-number {
  font-size: 64px;
  line-height: 1.5;
  color: #2196f3;
}

.mwb-about__list-item,
.mwb-dashboard__about-list {
  align-items: center;
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 16px rgba(63, 71, 86, 0.1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px 15px;
}

/*==================================
 =     UNAUTHORIZED PAGE CSS       =
 ===================================*/
.mwb-zgf__signup-instruction-wrap {
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(63, 71, 86, 0.1);
  margin: 10px -15px;
  padding: 10px 15px;
  position: relative;
}

.mwb-zgf__instruction {
  display: none;
}

.mwb-zgf__unauthorized--table {
  margin: 30px 0;
  width: 100%;
}

.mwb-zgf__unauthorized--table tr {
  margin-bottom: 20px;
}

.mwb-zgf__unauthorized--table th {
  flex: 0 0 100%;
  max-width: 25%;
  text-align: left;
}

.mwb-zgf__unauthorized--table td {
  flex: 0 0 100%;
  max-width: 75%;
}

.mwb-zgf__unauthorized--table .mwb-zgf__secure-field {
  display: inline-block;
  max-width: 300px;
  position: relative;
  width: 100%;
}

.mwb-zgf__unauthorized--table .mwb-zgf__trailing-icon {
  position: absolute;
  right: 5px;
  top: 15px;
}

body.post-type-mwb_zoho_feeds #titlewrap input {
  max-width: unset;
}

body.post-type-mwb_zoho_feeds .row-hide {
  display: none;
}

.mwb-zgf__newfeed {
  position: absolute;
  right: 20px;
}

.mwb-zgf__from_search-wrap {
  padding: 20px 0;
}

.mwb-zgf__feed-row {
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 8px rgba(63, 71, 86, 0.1);
  margin-bottom: 20px;
  padding: 20px 10px;
}

.mwb-zgf__feed-row .mwb-zgf__left-col p {
  margin-bottom: 10px !important;
}

.mwb-zgf__feed-row .mwb-zgf__left-col .mwb-title {
  margin-bottom: 10px;
}

.mwb-zgf__feed-row .mwb-zgf__left-col .mwb-feed-status {
  max-width: 80px;
  width: 100%;
}

.mwb-zgf__feed-row .mwb-zgf__right-col .dashicons-edit-page,
.mwb-zgf__feed-row .mwb-zgf__right-col .dashicons-trash {
  font-size: 24px;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}

.mwb-feed-status__wrap {
  gap: 10px;
  margin-bottom: 10px;
}

/* ADD NEW FIELD CSS */
#mwb-add-new-field-section-wrapper.mwb-zgf__form--group {
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 8px rgba(63, 71, 86, 0.1);
  margin: 10px 0;
  padding: 10px;
}

#mwb-primary-field-section-wrapper .mwb-zgf__form--group {
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 8px rgba(63, 71, 86, 0.1);
  margin: 10px 0;
  padding: 10px;
}

.mwb_zgf__feeds-wrap .mwb-zgf__form--group {
  align-items: flex-start;
}

.form-field-row {
  margin-bottom: 20px;
}

.form-field-row label {
  flex: 0 0 100%;
  max-width: 25%;
}

@media (max-width: 767px) {
  .form-field-row label {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.form-field-row .field-type-select {
  flex: 0 0 100%;
}

.form-field-row .custom-value__wrap {
  display: flex;
  flex-wrap: wrap;
}

.form-field-row .custom-value__wrap label {
  max-width: 32%;
}

@media (max-width: 767px) {
  .form-field-row .custom-value__wrap label {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.form-field-row .custom-value__wrap .custom-value__fields {
  max-width: 68%;
}

@media (max-width: 767px) {
  .form-field-row .custom-value__wrap .custom-value__fields {
    max-width: 100%;
  }
}

.form-field-row .mwb_info {
  margin-bottom: 20px;
}

.mwb-fields-form-section-meta {
  margin-bottom: 10px;
}

.mwb-form-filter-row {
  border-radius: 8px;
  box-shadow: -4px -4px 16px rgba(63, 71, 86, 0.1), 4px 4px 8px rgba(63, 71, 86, 0.1);
  margin-bottom: 20px;
  padding: 20px 10px;
  position: relative;
}

.mwb-form-filter-row .and-condition-filter {
  box-shadow: 4px 4px 8px rgba(63, 71, 86, 0.1);
  gap: 10px;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}

.mwb-form-filter-row .and-condition-filter > * {
  flex: 0 0 100%;
  max-width: 32% !important;
}

@media (max-width: 767px) {
  .mwb-form-filter-row .and-condition-filter > * {
    max-width: 100% !important;
    padding: 0;
  }
}

.mwb-form-filter-row .and-condition-filter .dashicons-no {
  border-radius: 50%;
  box-shadow: 3px 3px 48px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -5px;
}

.mwb-form-filter-row .dashicons-trash {
  bottom: 40px;
  position: absolute;
  right: 25px;
}

.mwb-logs__settings-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-left: auto !important;
}

@media (max-width: 767px) {
  .mwb-logs__settings-list {
    margin-left: unset !important;
    margin-top: 20px !important;
  }
}

.mwb-logs__settings-list-item a {
  padding: 5px 22px;
}

.mwb-logs__settings-list-item a:hover {
  background: #000000;
  border: 1px solid #000000;
  color: #ffffff;
}

.mwb-zgf__logs-table-wrap .dataTables_scrollBody {
  border-bottom: none !important;
}

.mwb-zgf__logs-table-wrap .dashicons-plus-alt {
  color: #2196f3;
  cursor: pointer;
  transition: all 0.3s linear;
}

.mwb-zgf__logs-table-wrap .parent .dtr-control .dashicons-plus-alt {
  transform: rotate(45deg);
  color: #ff0000;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table {
  border-bottom: 1px solid #DDDDDD !important;
  margin-bottom: 20px;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table th {
  border-bottom: 0 !important;
  padding: 8px 10px  !important;
  text-align: left;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table thead {
  border-bottom: 1px solid #DDDDDD;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li {
  border: 1px solid #DDDDDD;
  flex: 0 0 100%;
  margin-bottom: 20px;
  max-width: 50%;
}

@media (max-width: 767px) {
  .mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li {
    max-width: 100%;
  }
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li:nth-child(odd) {
  margin-right: 20px;
  max-width: calc(50% - 20px);
}

@media (max-width: 767px) {
  .mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li:nth-child(odd) {
    max-width: 100%;
    margin-right: unset;
  }
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li .dtr-title {
  background: #f1f1f1;
  display: block;
  font-weight: 700;
  min-width: 95px;
  padding: 15px;
}

.mwb-zgf__logs-table-wrap .mwb-zoho__logs-table .dtr-details li .dtr-data {
  display: inline-block;
  padding: 15px;
  white-space: break-spaces;
  word-break: break-word;
}

.mwb-zgf__logs-table-wrap .bottom {
  justify-content: flex-end;
}

@media (max-width: 767px) {
  .mwb-zgf__logs-table-wrap .bottom {
    justify-content: center;
  }
}

.mwb-zgf__logs-table-wrap .bottom .dataTables_paginate {
  padding-top: 0;
  margin: 0 8px;
}

@media (max-width: 767px) {
  .mwb-zgf__logs-table-wrap .bottom .dataTables_paginate {
    margin-top: 10px;
  }
}

.mwb-zgf__logs-table-wrap .bottom .paginate_button {
  background: #ffffff !important;
  padding: 4px 8px !important;
}

.mwb-zgf__logs-table-wrap .dataTables_wrapper .dataTables_paginate,
.mwb-zgf__logs-table-wrap .dataTables_wrapper .dataTables_info {
  float: unset;
}

.mwb-zgf__logs-table-wrap #mwb-zgf-table_length {
  float: unset !important;
}

.mwb-zgf__logs-table-wrap #mwb-zgf-table_length select {
  padding: 4px 15px !important;
  width: 100px !important;
}

.mwb-zgf__setting--table {
  width: 100%;
}

.mwb-zgf__setting--table tr {
  margin: 0 0 20px 0;
}

.mwb-zgf__setting--table th {
  flex: 0 0 100%;
  margin: 0 20px 0 0;
  max-width: calc(25% - 20px);
  text-align: left;
}

@media (max-width: 767px) {
  .mwb-zgf__setting--table th {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.mwb-zgf__setting--table td {
  flex: 0 0 100%;
  max-width: 75%;
}

@media (max-width: 767px) {
  .mwb-zgf__setting--table td {
    max-width: 100%;
  }
}
